on:
  pull_request:
  push:
    branches:
      - main
jobs:
  check-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: install actionlint
        shell: bash
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash) 1.7.11
          ./actionlint -color
